<div id="black-screen" class="fixed-top bg-dark w-100 h-100 opa-75 zi-6" style="display:none;"></div>
<div id="modifyWordComponent" class="component fixed-top w-100 h-100 zi-7" style="display:none;">
    <div class="mt-5">
        <div class="pt-5">
            <div class="m-auto w-75">
                <div class="m-auto w-100">
                    <div class="mt-lg-5 ml-xl-5 mr-xl-5">
                        <div class="ml-lg-5 mr-lg-5">
                            <div class="ml-lg-5 mr-lg-5">
                                <div class="ml-lg-5 mr-lg-5">
                                    <div class="ml-lg-5 mr-lg-5">
                                        <div class="ml-xl-5 mr-xl-5">
                                            <div class="align-items-center mb-3 p-3 border bg-white zi-7">
                                                <div class="float-right">
                                                    <a href="#" ng-click="closeModifyWord($event);"><i class="fas fa-times"></i></a>
                                                </div>
                                                <div class="text-center mt-3 mb-3">단어 수정</div>
                                                <div class="form-row">
                                                    <div class="col-xl-6 mt-1 mb-2">
                                                        <label class="sr-only" for="speling">스펠링</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">스펠링</div>
                                                            </div>
                                                            <input type="text" class="form-control bg-white" ng-model="selectedWord.speling" placeholder="철자를 입력하세요.">
                                                        </div>
                                                    </div>
                                                <div class="col-xl-6 my-1 mb-3">
                                                    <label class="sr-only" for="meaning">해석</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">해석</div>
                                                        </div>
                                                        <input type="text" class="form-control bg-white" ng-model="selectedWord.meaning" placeholder="해석을 입력하세요.">
                                                    </div>
                                                </div>
                                                <div class="w-100 text-center">
                                                    <button type="button" class="btn btn-success w-100" ng-click="modifyWord()">수정</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

