<div class="media-board-content border pt-4 pb-5 pl-lg-5 pr-lg-5 ml-lg-5 mr-lg-5 bd-highlight mb-5 bg-white">  
    <div class="p-lg-auto w-100">
        <div class="mt-5 mb-5 rounded-sm">
            <div class="pt-3">
                <h4 class="text-center"><i class="far fa-clipboard"></i>&nbsp;&nbsp;자유 게시판</h4>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-6 pl-4 mb-2 ">
                <button type="button" class="btn btn-success">검색필터</button>
            </div>
            <div class="col-6 p-0 mb-2 text-right">
                <button type="button" class="btn btn-success">글쓰기</button>
            </div>
        </div>
        <div class="border p-3 m-0 mb-2" ng-repeat="boardMember in boardMemberList">
            <div class="row">
                <div class="col-auto mt-3 pr-0">
                    <input type="checkbox"/>
                </div>
                <div class="col-auto mt-3">
                    <span class="small">[{{boardMember.member.nickname}}]&nbsp;{{boardMember.board.writeDate}}</span>
                </div>
                <div class="col-auto ml-auto">
                    <div class="float-right">
                        <button type="button" class="btn btn-primary" ng-click="board.no">수정</button>
                        <button type="button" class="btn btn-primary" ng-click="board.no">비활성</button>
                    </div>
                </div>
            </div>
            <div class="row border-bottom border-bottom-dark h-100">
                <div class="col-auto mt-2 mb-2">
                    <sapn>{{boardMember.board.title}}</sapn>
                </div>     
            </div>
            <div class="row mt-2 ">
                <div class="col-12">
                    <span>{{boardMember.board.content}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 컴포넌트 -->
<board-add></board-add>
<board-filter></board-filter>
<board-modify></board-modify>