<div class="media-word-content ml-3 mr-3 border p-5 bg-white">
    <div class="mt-5 mb-5 rounded-sm">
        <h4 class="text-center"><i class="fas fa-list"></i>&nbsp;&nbsp;단어 목록</h4>
    </div>
	<div ng-if="wordList.length == 0">
		<div class="text-center">
			<div class="m-3">
				<h3>저장된 단어가 없습니다</h3>
			</div>
			<div class="m-3">
				<a href="#/word/add" class="text-primary">단어 등록하러 가기</a>
			</div>
		</div>
	</div>
    <div class="form-row align-items-center mt-3 mb-3 border" ng-repeat="word in wordList" id="$index">
    	<div class="col-sm-1 col-12 p-1 text-center">
    		<span class="d-none d-sm-block">
	    		<!-- 체크 되지 않았을 경우 -->
	    		<span class="mouseOver hover-primary" ng-hide="$index == wordBookmark" ng-click="checkWordBookmark($index)"><i class="far fa-bookmark"></i></span>
	    		<!-- 체크 되었을 경우 -->
				<span class="mouseOver text-primary" ng-show="$index == wordBookmark" ng-click="checkWordBookmark()"><i class="fas fa-bookmark"></i></span>
			</span>
			<!-- 모바일  환경일 경우-->
    		<span class="d-block d-sm-none float-left pl-3">
	    		<!-- 체크 되지 않았을 경우 -->
	    		<span class="mouseOver hover-primary" ng-hide="$index == wordBookmark" ng-click="checkWordBookmark($index)"><i class="far fa-bookmark"></i></span>
	    		<!-- 체크 되었을 경우 -->
				<span class="mouseOver text-primary" ng-show="$index == wordBookmark" ng-click="checkWordBookmark()"><i class="fas fa-bookmark"></i></span>
			</span>
			<span class="d-block d-sm-none float-right pr-3">
				<a href="#" ng-click="deleteWord(word.no);">
        			<i class="fas fa-times"></i>
        		</a>
			</span>
    	</div>
    	<div class="list col-sm-10 col-suto pt-1 pb-1 p-sm-3" ng-click="openModifyWord(word.no);">
    		<div class="row">
	        <div class="col-sm-6 col-12 mt-1 mb-1 mt-sm-0 mb-sm-0">
	            <label class="sr-only" for="speling">스펠링</label>
	            <div class="input-group">
	                <div class="input-group-prepend">
	                    <div class="input-group-text">스펠링</div>
	                </div>
	                <input type="text" class="form-control bg-white mouseOver" ng-model="word.speling" placeholder="철자를 입력하세요." readonly>
	            </div>
	        </div>
	        <div class="col-sm-6 col-12 mt-1 mb-1 mt-sm-0 mb-sm-0">
	            <label class="sr-only" for="meaning">해석</label>
	            <div class="input-group">
	                <div class="input-group-prepend">
	                    <div class="input-group-text">해석</div>
	                </div>
	                <input type="text" class="form-control bg-white mouseOver" ng-model="word.meaning" placeholder="해석을 입력하세요." readonly>
	            </div>
	        </div>
	        </div>
        </div>
        <div class="d-none d-sm-block col-sm-1 col-12 p-1 text-center">
        	<a href="#" ng-click="deleteWord(word.no);">
        		<i class="fas fa-times"></i>
        	</a>
        </div>
    </div>
    <!-- 단어 수정 창-->
    <word-modify></word-modify>
</div>