<div class="media-board-content border pt-4 pb-5 pl-1 pr-1 pl-lg-5 pr-lg-5 ml-2 mr-2 ml-lg-5 mr-lg-5 bd-highlight mb-5 bg-white">  
    <div class="p-lg-auto w-100">
        <div class="mt-5 mb-5 rounded-sm">
            <div class="pt-3">
                <h4 class="text-center"><i class="far fa-clipboard"></i>&nbsp;&nbsp;게시판</h4>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-6 pl-4 mb-2 ">
                <button type="button" class="btn btn-success" ng-click="openFilterBoard();">검색필터</button>
            </div>
            <div class="col-6 p-0 mb-2 text-right">
                <button type="button" class="btn btn-success" ng-show="isLogin" ng-click="openAddBoard();">글쓰기</button>
            </div>
        </div>
        <div>
        <div ng-if="boardMemberList.length == 0">
			<div class="text-center">
				<div class="m-3">
					<p class="m-3">게시물이 존재하지않습니다.</p>
					<p class="m-3 text-primary">검색필터를 확인 해 주세요.</p>
				</div>
			</div>
		</div>
        </div>
        <div class="border p-3 m-0 mb-2" ng-repeat="boardMember in boardMemberList" id="{{$index}}">
            <div class="row">
                <div class="col-auto mt-3 pr-0">
		    		<!-- 체크 되지 않았을 경우 -->
		    		<span class="mouseOver hover-primary" ng-hide="$index == boardBookmark" ng-click="checkBoardBookmark($index)"><i class="far fa-bookmark"></i></span>
		    		<!-- 체크 되었을 경우 -->
					<span class="mouseOver text-primary" ng-show="$index == boardBookmark" ng-click="checkBoardBookmark()"><i class="fas fa-bookmark"></i></span>
                </div>
                <div class="col-auto mt-3">
                    <span class="small">[{{boardMember.member.nickname}}]&nbsp;{{boardMember.board.writeDate}}</span>
                </div>
                <div class="col-auto ml-auto">
                    <div class="float-right">
                        <span class="mouseOver hover-primary pl-3" ng-click="openModifyBoard(boardMember.board.no);" ng-show="boardMember.board.memberNo == loginMemberNo"><i class="fas fa-edit"></i></span>
                        <span class="mouseOver hover-primary pl-3" ng-click="removeBoard(boardMember.board.no)" ng-show="boardMember.board.memberNo == loginMemberNo"><i class="fas fa-times"></i></span>
                    </div>
                </div>
            </div>
            <div class="row border-bottom border-bottom-dark h-100">
                <div class="col-auto mt-2 mb-2">
                    <sapn>{{boardMember.board.title}}</sapn>
                </div>     
            </div>
            <div class="row mt-2 ">
                <div class="col-12">
                    <span>{{boardMember.board.content}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 컴포넌트 -->
<div class="black-screen fixed-top bg-dark w-100 h-100 opa-75 zi-6" style="display:none;"></div>
<board-add></board-add>
<board-filter></board-filter>
<board-modify></board-modify>