<div class="media-member-content ml-3 mr-3 border p-4 p-xl-5 w-auto bg-white">
    <div class="mt-5 mb-5 rounded-sm">
        <h4 class="text-center"><i class="fas fa-search"></i>&nbsp;&nbsp;회원정보 수정</h4>
    </div>
    <form id="modifyForm" autocomplete="off">
        <div class="form-group">
            <label for="email">이메일 *</label>
            <input type="text" class="form-control text-center" id="email" ng-model="modifyMemberForm.email" aria-describedby="emailHelp" placeholder="이메일을 입력해주세요" disabled>
        </div>
        <div class="form-group">
            <label for="password">비밀번호  <sub class="text-secondary opa-75">8자리 이상, 문자 및 숫자 포함</sub></label>
            <input type="password" class="form-control text-center" id="password" ng-model="modifyMemberForm.password" placeholder="비밀번호를 입력해주세요">
        </div>
        <div class="form-group">
            <label for="re-password">비밀번호 확인</label>
            <input type="password" class="form-control text-center" id="re-password" ng-model="rePassword" placeholder="비밀번호를 확인해주세요">
        </div>
        <div class="form-group">
            <label for="nickname">별명 * <sub class="text-secondary opa-75">10자리 이하, 한글 및 영문</sub></label>
            <input type="text" class="form-control text-center" id="nickname" ng-model="modifyMemberForm.nickname" placeholder="별명을 입력해주세요">
        </div>
        <div class="form-group">
            <label for="year">생년월일 *</label>
	        <div class="form-group form-row">
	            <div class="col-sm-6 col-6 p-0">
	                <div class="input-group">
	                    <select class="custom-select year mr-sm-2 mr-lg-4" style="text-align-last:center;" ng-model="birthday.year" placeholder="" aria-describedby="" required>
	                        <option value="0">년</option>
	                    </select>
	                </div>
	            </div>
	            <div class="col-sm-3 col-3 p-0">
	                <div class="input-group">
	                    <select class="custom-select month" style="text-align-last:center;" ng-model="birthday.month" placeholder="" aria-describedby="" required>
	                        <option value="0">월</option>
	                    </select>
	                </div>
	            </div>
	            <div class="col-sm-3 col-3 p-0">
	                <div class="input-group">
	                    <select class="custom-select day ml-sm-2 ml-lg-4" style="text-align-last:center;" ng-model="birthday.day" placeholder="" aria-describedby="" required>
	                        <option value="0">일</option>
	                    </select>
	                </div>
	            </div>
	        </div>
        </div>
        <div class="mt-3 mb-3 ml-5 mr-5" style="display: none;">
            <small id="message" class="form-text text-danger text-center">입력값이 잘못되었습니다.</small>
        </div>
        <div class="mt-5 w-100">
            <button type="button" class="btn btn-primary w-100" ng-click="modifyMember();">정보변경</button>
        </div>
    </form>
</div>